{% extends "base.j2" %}
{% block body %}
{% if message %}
<div class="alert alert-success" role="alert">
    {{ message }}
</div> <br>
{% endif %}
<div class="container">
    <h1>Bienvenue sur la bibliothèque en ligne</h1><hr>
    <form action="{{ url_for('page_resultats_user') }}" method="post">
        <div class="form-group">
            <label for="user"><h3>Nom d'utilisateur :</h3></label>
            <input type="text" class="form-control" id="user" name="user">
            <p> Si aucun nom ou ID n'est renseigné, tous les utilisateurs seront affichés.</p>
        </div>
        <button type="submit" class="btn btn-dark" name="type" value="user">Rechercher un utilisateur</button>
    </form><hr>
    <form action="{{ url_for('page_resultats_book') }}" method="post">
        <div class="form-group">
            <label for="book"><h3>Nom du livre :</h3></label>
            <input type="text" class="form-control" id="book" name="book">
            <p> Si aucun nom ou ID n'est renseigné, tous les livres seront affichés.</p>
        </div>
        <button type="submit" class="btn btn-dark" name="type" value="user">Rechercher un livre</button>
    </form>
</div>
{% endblock %}