{% extends "base.j2" %}
{% block body %}
<h2>Liste des emprunts</h2><hr>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Livre</th>
            <th>Emprunté par</th>
        </tr>
    </thead>
    <tbody>
        {% for livre in livres %}
        {% if livre.emprunteur_id != "Disponible"%}
        <tr>
            <td>{{ livre.titre }}</td>
            <td>{{ livre.emprunteur_id }}</td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}