{% extends "base.j2" %}
{% block body %}
    <h1><font color="red">ERREUR</font></h1><br>
    <h4>{{ message }}</h4><br>
    {% if login_page %}
    <a href="{{ url_for('page_login') }}" class="btn btn-dark">Retour à la page de connexion</a>
    {% else %}
    <a href="{{ url_for('page_accueil') }}" class="btn btn-dark">Retour à l'accueil</a>
    {% endif %}
{% endblock %}