{% extends "base.j2" %}
{% block body %}
<h2>{{ h2_title }}</h2><hr>
<div class="table-responsive">
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de publication</th>
            <th>Disponibilité</th>
        </tr>
    </thead>
    <tbody>
        {% for livre in livres %}
        <tr>
            <td>
                <a href="#" data-toggle="modal" data-target="#modal{{ loop.index }}">
                    {{ livre.titre }}
                </a>
                <div class="modal fade" id="modal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ loop.index }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ loop.index }}">{{ livre.titre }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ livre.pitch }}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>{{ livre.auteur_id }}</td>
            <td>{{ livre.date_public }}</td>
            {% if not livre.emprunteur_id %}
            <td>Oui</td>
            {% else %}
            <td>Non</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

{% endblock %}
