{% extends "base.j2" %}
{% block body %}
<div class="container">
    <h1>Bienvenue sur la page de connexion</h1><hr>
    <form action="{{ url_for('traitement_login') }}" method="post">
        <div class="form-group">
            <label for="username"><h3>Nom d'utilisateur :</h3></label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="form-group">
            <label for="password"><h3>Mot de passe :</h3></label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-dark" name="type" value="user">Se connecter</button>
    </form><hr>
</div>
{% endblock %}