{% extends "base.j2" %}
{% block body %}
<h2>{{ h2_title }}</h2><hr>
{% for user in users %}
<h5>Nom : {{ user.username }}</h5>
<h5>Email : {{ user.email }}</h5><br>
<h5>Livres empruntés : </h5><br>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Date de publication</th>
        </tr>
    </thead>
    <tbody>
        {% for emprunt in emprunts if emprunt.emprunteur_id == user.user_id %}
        <tr>
            <td>
                <a href="#" data-toggle="modal" data-target="#modal{{ loop.index }}">
                    {{ emprunt.titre }}
                </a>
                <div class="modal fade" id="modal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ loop.index }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="modalLabel{{ loop.index }}">{{ emprunt.titre }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ emprunt.pitch }}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
            <td>{{ emprunt.auteur_id }}</td>
            <td>{{ emprunt.date_public }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table> <hr><br>
{% endfor %}
{% endblock %}